{erl_opts, [debug_info]}.
{deps, [{the_dep, {git, "git@github.com:khetzl/the_dep.git", {branch, "master"}}}]}.

{relx, [{release, {umbrella_override, "0.1.0"},
         [umbrella_override,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
